extends layoutonly

block content
  section#team
      .container
        .row(style= " margin-top: -30px;")
          .col-md-3(style ="position:fixed")
            .list-group
              a.list-group-item.active(href='#')  
                i.fa.fa-tachometer &nbsp;&nbsp;  DashBoard
              a.list-group-item(href='') Dapibus ac facilisis 
              a.list-group-item(href='#') Morbi leo risus
              a.list-group-item(href='#') Porta ac consectetur ac
              a.list-group-item(href='#') Vestibulum at eros
            .list-group
              a.list-group-item.active(href='#')  
                i.fa.fa-tachometer &nbsp;&nbsp;  DashBoard
              a.list-group-item(href='') Dapibus ac facilisis 
              a.list-group-item(href='#') Morbi leo risus
              a.list-group-item(href='#') Porta ac consectetur ac
              a.list-group-item(href='#') Vestibulum at eros
          .col-sm-9(style= "margin-left:30%")
            .span skjk s lkjs ks
              
          