span
  ul.nav.nav-tabs(role='tablist')
      li.active(role='presentation')
        a(href='#Following', aria-controls='home', role='tab', data-toggle='tab') Following
      |     
      li(role='presentation')
        a(href='#Followers', aria-controls='profile', role='tab', data-toggle='tab') Followers
      |     
      li(role='presentation')
        a(href='#Organ', aria-controls='messages', role='tab', data-toggle='tab') Organizations
      |     
      li(role='presentation')
        a(href='#Events', aria-controls='settings', role='tab', data-toggle='tab') Events, Internship & volunteering
  .tab-content
      #Following.tab-pane.fade.in.active(role='tabpanel')
        p Search 
        hr
        .row
        .col-md-6
          .panel.panel-default(style="background-color:#FBFFFE")
            .panel-body 
              a(href="/", title="Gaurav Jain", style="text-decoration:none;" )  
               .row
                 .col-sm-4 
                   img(src='https://lh5.googleusercontent.com/-TWKoypN_yps/AAAAAAAAAAI/AAAAAAAAAJs/ceo8FfZhatw/photo.jpg', width='80', height='80', style=' border: 2px solid #b0b0b0; border-radius:50% 50% 50% 50%; background-color:#A0A0A0;')
                 .col-sm-5(style="font-size:16px; margin-top :5px; margin-left:-20px;") 
                   #name Gaurav Jain
                   #college
                     a(href="/sds", style="text-decoration:none; font-size: 11px;color: black;    background-color: #E7E9EA;    border-radius: 2px;") Times of India
                   #organization 
                     a(href="/sds", style="text-decoration:none;font-size:14px;")
                       span.label.label-primary Helpiez Sanghathan
        .col-md-6
          .panel.panel-default(style="background-color:#FBFFFE")
            .panel-body 
              a(href="/", title="Gaurav Jain", style="text-decoration:none;" )  
               .row
                 .col-sm-4 
                   img(src='https://lh5.googleusercontent.com/-TWKoypN_yps/AAAAAAAAAAI/AAAAAAAAAJs/ceo8FfZhatw/photo.jpg', width='80', height='80', style=' border: 2px solid #b0b0b0; border-radius:50% 50% 50% 50%; background-color:#A0A0A0;')
                 .col-sm-5(style="font-size:16px; margin-top :5px; margin-left:-20px;") 
                   #name Gaurav Jain
                   #college
                     a(href="/sds", style="text-decoration:none; font-size: 11px;color: black;    background-color: #E7E9EA;    border-radius: 2px;") Times of India
                   #organization 
        .col-md-6
          .panel.panel-default(style="background-color:#FBFFFE")
            .panel-body 
              a(href="/gaurav-jain1", title="Gaurav Jain", style="text-decoration:none;" )  
               .row
                 .col-sm-4 
                   img(src='https://lh5.googleusercontent.com/-TWKoypN_yps/AAAAAAAAAAI/AAAAAAAAAJs/ceo8FfZhatw/photo.jpg', width='80', height='80', style=' border: 2px solid #b0b0b0; border-radius:50% 50% 50% 50%; background-color:#A0A0A0;')
                 .col-sm-5(style="font-size:16px; margin-top :5px; margin-left:-20px;") 
                   #name Gaurav Jain
                   #college
                     span( style="text-decoration:none; font-size: 11px;color: black;    background-color: #E7E9EA;    border-radius: 2px;") Times of India
                   #organization 
                     a(href="/sds", style="text-decoration:none;font-size:14px;")
                       span.label.label-success Helpiez Sanghathan                        
        
          
        
        
        
      #Followers.tab-pane.fade(role='tabpanel') 
        br
        .row
        .col-md-6
          .panel.panel-default(style="background-color:#FBFFFE")
            .panel-body 
              a(href="/", title="Gaurav Jain", style="text-decoration:none;" )  
               .row
                 .col-sm-4 
                   img(src='https://lh5.googleusercontent.com/-TWKoypN_yps/AAAAAAAAAAI/AAAAAAAAAJs/ceo8FfZhatw/photo.jpg', width='80', height='80', style=' border: 2px solid #b0b0b0; border-radius:50% 50% 50% 50%; background-color:#A0A0A0;')
                 .col-sm-5(style="font-size:16px; margin-top :5px; margin-left:-20px;") 
                   #name Gaurav Jain
                   #college
                     a(href="/sds", style="text-decoration:none; font-size: 11px;color: black;    background-color: #E7E9EA;    border-radius: 2px;") Times of India
                   #organization 
                     a(href="/sds", style="text-decoration:none;font-size:14px;")
                       span.label.label-primary Helpiez Sanghathan
        .col-md-6
          .panel.panel-default(style="background-color:#FBFFFE")
            .panel-body 
              a(href="/", title="Gaurav Jain", style="text-decoration:none;" )  
               .row
                 .col-sm-4 
                   img(src='https://lh5.googleusercontent.com/-TWKoypN_yps/AAAAAAAAAAI/AAAAAAAAAJs/ceo8FfZhatw/photo.jpg', width='80', height='80', style=' border: 2px solid #b0b0b0; border-radius:50% 50% 50% 50%; background-color:#A0A0A0;')
                 .col-sm-5(style="font-size:16px; margin-top :5px; margin-left:-20px;") 
                   #name Gaurav Jain
                   #college
                     a(href="/sds", style="text-decoration:none; font-size: 11px;color: black;    background-color: #E7E9EA;    border-radius: 2px;") Times of India
                   #organization 
        .col-md-6
          .panel.panel-default(style="background-color:#FBFFFE")
            .panel-body 
              a(href="/gaurav-jain1", title="Gaurav Jain", style="text-decoration:none;" )  
               .row
                 .col-sm-4 
                   img(src='https://lh5.googleusercontent.com/-TWKoypN_yps/AAAAAAAAAAI/AAAAAAAAAJs/ceo8FfZhatw/photo.jpg', width='80', height='80', style=' border: 2px solid #b0b0b0; border-radius:50% 50% 50% 50%; background-color:#A0A0A0;')
                 .col-sm-5(style="font-size:16px; margin-top :5px; margin-left:-20px;") 
                   #name Gaurav Jain
                   #college
                     span( style="text-decoration:none; font-size: 11px;color: black;    background-color: #E7E9EA;    border-radius: 2px;") Times of India
                   #organization 
                     a(href="/sds", style="text-decoration:none;font-size:14px;")
                       span.label.label-success Helpiez Sanghathan  
      
      
      
      
      
      #Organ.tab-pane.fade(role='tabpanel') ...
      |   
      #Events.tab-pane.fade(role='tabpanel') ...
        