a(href='/', style='text-transform: none; font-weight: normal;  letter-spacing: normal;  color: black; white-space: normal;  padding: initial;')
    .row(style='background-color:#F9FAF9; border-radius: 2px 2px; border-color: rgb(47, 207, 85); padding:5px;')
        .col-sm-2
          img(src='https://lh5.googleusercontent.com/-TWKoypN_yps/AAAAAAAAAAI/AAAAAAAAAJs/ceo8FfZhatw/photo.jpg', style='  border-radius: 5px 5px; background-color:#949494; height: 70px; width: 70px;margin-left: -14px;')                            
        .col-sm-10(style='  margin-left: -50px; font-size: 15px') Gaurav Jain is now following you. Follow back user by clicking on the follow button on user profile.
          div(style='float:right;margin-top: 19px; margin-right: -37px; font-size: 80%;  color: rgb(150,150,150);') 9 months ago
p
a(href='/', style='text-transform: none; font-weight: normal;  letter-spacing: normal;  color: black; white-space: normal;  padding: initial;')
    .row(style='background-color:#F9FAF9; border-radius: 2px 2px; border-color: rgb(47, 207, 85); padding:5px;')
        .col-sm-2
          img(src='https://lh5.googleusercontent.com/-TWKoypN_yps/AAAAAAAAAAI/AAAAAAAAAJs/ceo8FfZhatw/photo.jpg', style='  border-radius: 5px 5px; background-color:#949494; height: 70px; width: 70px;margin-left: -14px;')                            
        .col-sm-10(style='  margin-left: -50px; font-size: 15px') Gaurav Jain is now following you. Follow back user by clicking on the follow button on user profile.
          div(style='float:right;margin-top: 19px; margin-right: -37px; font-size: 80%;  color: rgb(150,150,150);') 9 months ago
  .text-center
    ul.pagination
      li.disabled
          a(href='#', aria-label='Previous')
            span(aria-hidden='true') &laquo;
        li.active
          a(href='#') 1
        li
          a(href='#') 2
        li
          a(href='#', aria-label='Next')
            span(aria-hidden='true') &raquo;
  #more28.col-sm-12.morebox(style="font-weight: bold;color: #333333;text-align: center;border: solid 1px #d9d9d9;padding: 8px; margin-top:20px;    margin-bottom: 10px;    -moz-border-radius: 6px;-webkit-border-radius: 6px;")
    a#28.more(href='#', style='color:#D34E4E;') load more notification
   