span
  table.table.table-striped(style="color:#777")
      tbody
        tr       
          td 1
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Ned Internship  
          td Internship   
          td
            span.label.label-success Selected 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr       
          td 3
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Volunteer Yamuna cleaning   
          td Volunteer   
          td
            span.label.label-warning Started 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr       
          td 2
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Event 
          td Event   
          td
            a(href='/write?meta=4' target="blank" style="text-decoration:none")
              span.label.label-info Join/Apply 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr
          td 3
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Hard Ship 
          td internship   
          td
            a(href='/write?meta=4' target="blank" style="text-decoration:none")
              span.label.label-default Certificate 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr
          td 5
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Try Again
          td internship   
          td
            a(href='/write?meta=4' target="blank" style="text-decoration:none")
              span.label.label-danger Not Selected 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr
          td 6
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Try Again
          td internship   
          td
            a(href='/write?meta=4' target="blank" style="text-decoration:none")
              span.label.label-primary Applied
          td 
             a(href='/ned.intern' target="blank" style="text-decoration:none") Helpiez Sanghathan 
          td 13-Oct-2016
        tr
          td 3
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Hard Ship 
          td internship   
          td
            a(href='/write?meta=4' target="blank" style="text-decoration:none")
              span.label.label-default Certificate 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr
          td 5
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Try Again
          td internship   
          td
            a(href='/write?meta=4' target="blank" style="text-decoration:none")
              span.label.label-danger Not Selected 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr
          td 6
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Try Again
          td internship   
          td
            a(href='/write?meta=4' target="blank" style="text-decoration:none")
              span.label.label-primary Applied
          td 
             a(href='/ned.intern' target="blank" style="text-decoration:none") Helpiez Sanghathan 
          td 13-Oct-2016
        tr       
          td 1
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Ned Internship  
          td Internship   
          td
            span.label.label-success Selected 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr       
          td 3
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Volunteer Yamuna cleaning   
          td Volunteer   
          td
            span.label.label-warning Started 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr       
          td 2
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Event 
          td Event   
          td
            a(href='/write?meta=4' target="blank" style="text-decoration:none")
              span.label.label-info Join/Apply 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr       
          td 1
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Ned Internship  
          td Internship   
          td
            span.label.label-success Selected 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr       
          td 3
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Volunteer Yamuna cleaning   
          td Volunteer   
          td
            span.label.label-warning Started 
          td Helpiez Sanghathan
          td 13-Oct-2016
        tr       
          td 2
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Event 
          td Event   
          td
            a(href='/write?meta=4' target="blank" style="text-decoration:none")
              span.label.label-info Join/Apply 
          td Helpiez Sanghathan
          td 13-Oct-2016
  .dropdown
    button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown',style=' margin-top:-5px;text-transform: none;background-color: rgb(47, 207, 85);color: white;border-radius: 2px 2px;border-color: rgb(47, 207, 85);') Post New
        span.caret
      ul.dropdown-menu
        li
          a(href='#') Event 
        li
          a(href='#') Internship
        li
          a(href='#') Volunteer
  .text-center
    ul.pagination
      li.disabled
          a(href='#', aria-label='Previous')
            span(aria-hidden='true') &laquo;
        li.active
          a(href='#') 1
        li
          a(href='#') 2
        li
          a(href='#', aria-label='Next')
            span(aria-hidden='true') &raquo;
          