span(ng-controller = "eventController", ng-init="init(#{sess.userid})")
  table.table.table-striped(style="color:#777")
    thead
        tr(style="font-size: smaller;")
          th #       
          th Title  
          th Type  
          th Status
          th Org 
          //th Comments Count
          //th Views
          th Deadline 
      tbody
        tr(ng-repeat="x in names")     
          td {{$index+1}} 
          td 
            a(href='/{{ x.event.url}}.{{ x.event.type}}' target="_blank" style="text-decoration:none") {{ x.event.name | limitTo: 50 }}{{x.event.name.length > 50 ? '...' : ''}}
          td {{ x.event.type}}   
          td
            span.label.label-primary(ng-if=" x.event.status==1") Applied
            span.label.label-default(ng-if=" x.event.status==2") Shortlisted 
            span.label.label-success(ng-if=" x.event.status==3") Selected 
            span.label.label-info(ng-if=" x.event.status==7") Started 
            span.label.label-warning(ng-if=" x.event.status==4") Not Selected
            span.label.label-default(ng-if=" x.event.status==5") Certificate 
            span.label.label-danger(ng-if=" x.event.status==6") Partial 
          td 
            a(href='/{{ x.group.url}}.{{ x.group.type}}' target="_blank" style="text-decoration:none") {{ x.group.name | limitTo: 40 }}{{x.group.name.length > 40 ? '...' : ''}}  
          td {{x.event.deadline | date:'dd MMM yy'}} 
        tr(ng-if=" names.length==0") 
          td(colspan="6")  
            br 
            img(src="https://maxcdn.icons8.com/iOS7/PNG/50/Very_Basic/news-50.png" title="News" width="50" style="margin-left: 70px;")
            span &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; You have not written any article or stories. 
              a(data-toggle='modal', data-target='#newArticle') Start writing now .
               
            br
            br  
            
  .dropdown
    button.btn.btn-primary.btn-sm.dropdown-toggle(type='button', data-toggle='dropdown',style=' margin-top:-5px;text-transform: none;background-color: rgb(47, 207, 85);color: white;border-radius: 2px 2px;border-color: rgb(47, 207, 85);') Post New
        span.caret
      ul.dropdown-menu
        li
          a(href='#') Event 
        li
          a(href='#') Internship
        li
          a(href='#') Volunteer
// 
  .text-center
    ul.pagination
      li.disabled
          a(href='#', aria-label='Previous')
            span(aria-hidden='true') &laquo;
        li.active
          a(href='#') 1
        li
          a(href='#') 2
        li
          a(href='#', aria-label='Next')
            span(aria-hidden='true') &raquo;
          