footer(style='background-color:rgba(12, 21, 25, 0.95); padding:15px 0px;')
    .container
        .row
          .col-sm-2.col-xs-6.text-left
            h4(style='color:#CD222D; font-weight:normal; margin-bottom:5px;') Explore
            |                     
            p(style='color:#BBB; font-family:Montserrat,Helvetica,Arial,sans-serif; font-size:12px; line-height:2;')
              a(href='http://www.helpiez.org/blog', target='blank', style='text-decoration:none; color:#BBB;') Blog
              br
              |                         
              a(style='text-decoration:none; color:#BBB;') Get Started
              br
              |                         
              a(href='./NGOs-in-Delhi-NCR.php', style='text-decoration:none; color:#BBB;') NGO Directory
              br
              |                         
              a(style='text-decoration:none; color:#BBB;') Sitemap
              br
              |                         
              a(href='http://www.helpiez.org/blog/login/', target='blank', style='text-decoration:none; color:#BBB;') Write Article
            |                     
            h4(style='color:#CD222D; font-weight:normal; margin-bottom:5px;') Follow
            |                     
            p(style='color:#BBB; font-family:Montserrat,Helvetica,Arial,sans-serif; font-size:12px; line-height:2;')
              a(href='http://www.facebook.com/helpiez', target='blank', style='text-decoration:none; color:#BBB;') Facebook
              br
              |                         
              a(href='http://www.twitter.com/helpiez', target='blank', style='text-decoration:none; color:#BBB;') Twitter
              br
              |                         
              a(style='text-decoration:none; color:#BBB;') Linkedin
              br
              |                         
              a(href='http://plus.google.com/+HelpiezSangthan', target='blank', style='text-decoration:none; color:#BBB;') Google Plus
          |                 
          .col-sm-2.col-xs-6.text-left
            h4(style='color:#CD222D; font-weight:normal; margin-bottom:5px;') Portal
            |                     
            p(style='color:#BBB; font-family:Montserrat,Helvetica,Arial,sans-serif; font-size:12px; line-height:2;')
              a(href='./add-ngo.php', style='text-decoration:none; color:#BBB;') Add NGO
              br
              |                         
              a(href='./hire-internship.php', style='text-decoration:none; color:#BBB;') Add Internship
              br
              |                         
              a(href='./register-nss.php', style='text-decoration:none; color:#BBB;') Register NSS
              br
              |                         
              a(href='./selfieAll.php', style='text-decoration:none; color:#BBB;') Helpie-Selfie
              br
              |                         
              a(href='./about.php', style='text-decoration:none; color:#BBB;') About Us
              br
              |                         
              a(href='./team.php', style='text-decoration:none; color:#BBB;') Our Team
              br
              |                         
              a(href='./career.php', style='text-decoration:none; color:#BBB;') Careers
              br
              |                         
              a(href='./attributions.php', style='text-decoration:none; color:#BBB;') Attributions
              br
              |                         
              a(href='./policy.php', style='text-decoration:none; color:#BBB;') Policies
              br
              |                         
              a(href='./contactus.php', style='text-decoration:none; color:#BBB;') Contact Us
          |                 
          .col-sm-4.col-xs-12.text-left
            h4(style='color:#CD222D; font-weight:normal; margin-bottom:5px;') Causes
            |                     
            p.col-sm-6.col-xs-6(style='color:#BBB; padding-left:0px; font-family:Montserrat,Helvetica,Arial,sans-serif; font-size:12px; line-height:2;')
              a(href='./search.php?cat=opportunity&x=education', style='text-decoration:none; color:#BBB;') Education &amp; Employment
              br
              |                         
              a(href='./search.php?cat=opportunity&x=women', style='text-decoration:none; color:#BBB;') Women
              br
              |                         
              a(href='./search.php?cat=opportunity&x=children', style='text-decoration:none; color:#BBB;') Children &amp; Youth
              br
              |                         
              a(href='./search.php?cat=opportunity&x=animals', style='text-decoration:none; color:#BBB;') Animals
              br
              |                         
              a(href='./search.php?cat=opportunity&x=art', style='text-decoration:none; color:#BBB;') Art &amp; Culture
              br
              |                         
              a(href='./search.php?cat=opportunity&x=community', style='text-decoration:none; color:#BBB;') Community Development
              br
              |                         
              a(href='./search.php?cat=opportunity&x=environment', style='text-decoration:none; color:#BBB;') Environment
              br
              |                         
              a(href='./search.php?cat=opportunity&x=human', style='text-decoration:none; color:#BBB;') Human Rights
              br
              |                         
              a(href='./search.php?cat=opportunity&x=health', style='text-decoration:none; color:#BBB;') Health &amp; Medicine
              br
              |                         
              a(href='./search.php?cat=opportunity&x=empower', style='text-decoration:none; color:#BBB;') Empower Disabled
            |                     
            p.col-sm-6.col-xs-6(style='color:#BBB; padding-left:0px; font-family:Montserrat,Helvetica,Arial,sans-serif; font-size:12px; line-height:2;')
              a(href='./search.php?cat=opportunity&x=disaster', style='text-decoration:none; color:#BBB;') Disaster Management
              br
              |                         
              a(href='./search.php?cat=opportunity&x=community', style='text-decoration:none; color:#BBB;') Human Development
              br
              |                         
              a(href='./search.php?cat=opportunity&x=community', style='text-decoration:none; color:#BBB;') Old Age &amp; Veterans
              br
              |                         
              a(href='./search.php?cat=opportunity&x=violence', style='text-decoration:none; color:#BBB;') Violence &amp; Injustice
              br
              |                         
              a(href='./search.php?cat=opportunity&x=civil', style='text-decoration:none; color:#BBB;') Civil Rights &amp; Transparency
          |                 
          .col-sm-4.col-xs-12.text-left
            h4(style='color:#CD222D; font-weight:normal; margin-bottom:5px;') Helpiez
            |                     
            p(style='color:#BBB; font-family:Montserrat,Helvetica,Arial,sans-serif; font-size:12px; text-align:justify; line-height:2;')
              img(src='./images/Logos/Helpiez-Logomark-Footer.png', style='float:left; padding: 0 10px 0 0;')
              |                         Helpiez is a user-friendly, interactive portal through which the users, especially the youth with their extensive social circles and network can connect to welfare organizations and society. This portal features customizable search options for all the projects, events, volunteering opportunities, internships or jobs related to NGOs.
              br
              |                         
              a.btn(href='./about.php', style='text-decoration:none; color:#BBB; background-color:#0A1216; margin-top:10px;') Know More
             
footer(style='background-color:rgba(12, 21, 25, 1); padding:5px 0px;')
      .container
        .row
          .col-sm-4
            ul.list-inline.quicklinks
              li
                a(href='./about.php', style='text-decoration:none;') About Us
              |                         
              li
                a(href='http://www.helpiez.org/blog', style='text-decoration:none;') Blog
              //
                li><a href="./team.php" style="text-decoration:none;">Our Team</a>
                </li
              li
                a(href='./policy.php', style='text-decoration:none;') Policies
              //
                li><a href="#">Terms of Use</a>
                </li
          |                 
          .col-sm-4
            ul.list-inline.social-buttons
              li
                a(href='http://www.facebook.com/helpiez', target='blank')
                  i.fa.fa-facebook(style='color:#CFE0EB;')
              |                         
              li
                a(href='http://www.twitter.com/helpiez', target='blank')
                  i.fa.fa-twitter(style='color:#CFE0EB;')
              |                         
              li
                a(href='http://plus.google.com/+HelpiezSangthan', target='blank')
                  i.fa.fa-google-plus(style='color:#CFE0EB;')
              //
                li><a href="#"><i class="fa fa-linkedin" target="blank"></i></a>
                </li
          |                 
          .col-sm-4
            span.copyright(style='color:#CFE0EB; font-size:12px;') &copy; 2015 - Helpiez Ltd. All rights reserved.
    // Google Analytics code start
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-55036543-1', 'auto');
      ga('send', 'pageview');
    // Google Analytics code end
