nav.navbar.navbar-default.navbar-fixed-top.navbar-shrink
    .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
            span.sr-only Toggle navigation           
            span.icon-bar                     
            span.icon-bar                     
            span.icon-bar                 
          a.navbar-brand.page-scroll(href='./')
            img(src='./images/Logos/Helpiez-Logo.png', height='28')
        script.
          function report(period) {
          var x = document.getElementsByName("li");
          var i;
          for (i=0; i<x.length; i++) {
          var y = x[i].href;
          var z = y.split("&");
          x[i].href = "./search.php?cat=" + period + "&" + z[1];
          }
          }             
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav.navbar-left.mainSearchFullSize
            li#headerSearchStyleA
              form.row.navbar-form.inline-form(role='search', name='searchForm', autocomplete='off', action='./search.php', method='get')
                .row
                  .input-group
                    #headerSearchStyleB.input-group-btn
                      select.selectpicker.form-control(onchange='report(this.value)', name='cat')
                        option(value='non-profits', style='text-transform:none; color:#333;') Non-Profits                                         
                        option(value='opportunity', style='text-transform:none; color:#333;') Opportunity                                         
                        option(value='helpiesuser', style='text-transform:none; color:#333;') Helpies &amp; Users                                    
                    .input-group-btn
                      input#headerSearchStyleC.form-control(type='text', data-toggle='dropdown', name='ss', placeholder='name, location or cause..', style='border-radius:0px;', value='')                                       
                      ul#headerSearchStyleC.dropdown-menu(role='menu', style='border-radius:0px;')
                        li(style='padding-left:10px; font-size: 10px; font-weight: 700; color: #8d8d8d;') SUGGESTED SEARCHES                                         
                        li.divider                                         
                        li
                          a(name='li', href='./search.php?cat=opportunity&x=education', style='text-transform: none; color:#333;') Education                                        
                        li
                          a(name='li', href='./search.php?cat=opportunity&x=women', style='text-transform: none; color:#333;') Women                                         
                        li
                          a(name='li', href='./search.php?cat=opportunity&x=community', style='text-transform: none; color:#333;') Community                                        
                        li
                          a(name='li', href='./search.php?cat=opportunity&x=animals', style='text-transform: none; color:#333;') Animals                                        
                        li
                          a(name='li', href='./search.php?cat=opportunity&x=art', style='text-transform: none; color:#333;') Art &amp; Culture                                         
                        li
                          a(name='li', href='./search.php?cat=opportunity&x=environment', style='text-transform: none; color:#333;') Environment                                         
                        li
                          a(name='li', href='./search.php?cat=opportunity&x=health', style='text-transform: none; color:#333;') Health &amp; Medicine                                         
                        li
                          a(name='li', href='./search.php?cat=opportunity&x=violence', style='text-transform: none; color:#333;') Violence &amp; Injustice                                    
                    button#headerSearchStyleD.btn.btn-danger(type='submit', value='Go', style='color: #fff; background-color: #CD222D; border-color: #CD222D; border-radius:0px;') Search                 
          ul.nav.navbar-nav.navbar-right.mainSearchFullSize
            li.hidden
              a(href='#page-top')                   
            li(style='padding-right:20px;')
              a(href='http://www.helpiez.org/blog/', target='blank', title='Blog')
                i.fa.fa-newspaper-o.fa-stack-2x.fa-inverse(style='font-size: 1.6em;')
              | 
            li(style='padding-right:20px;')
            li(style='padding-right:20px;')
              a(title='Login', data-toggle='modal', data-target='#loginModal', style='cursor:pointer;')
                i.fa.fa-user.fa-stack-2x.fa-inverse(style='font-size: 1.6em;')
          // For Mobile
          ul.nav.navbar-nav.navbar-left.mainSearchMobileSize(style='text-align:left;')
            li.hidden
              a(href='#page-top')                    
            li(style='margin-bottom:10px;')
              a(href='./index.php', title='Search')
                i.fa.fa-search.fa-stack-2x.fa-inverse(style='font-size:1.4em;')
                  span(style='font-family:Montserrat,Helvetica,Arial,sans-serif; font-weight:400; letter-spacing:1px; font-size:0.7em; vertical-align:middle;') SEARCH                    
            li(style='margin-bottom:10px;')
              a(href='http://www.helpiez.org/blog/', target='blank', title='Blog')
                i.fa.fa-newspaper-o.fa-stack-2x.fa-inverse(style='font-size:1.4em;')
                  span(style='font-family:Montserrat,Helvetica,Arial,sans-serif; font-weight:400; letter-spacing:1px; font-size:0.7em; vertical-align:middle;') BLOG                      
            li(style='margin-bottom:10px;')
              a(title='Login', data-toggle='modal', data-target='#loginModal', style='cursor:pointer;')
                i.fa.fa-user.fa-stack-2x.fa-inverse(style='font-size:1.4em;')
                  span(style='font-family:Montserrat,Helvetica,Arial,sans-serif; font-weight:400; letter-spacing:1px; font-size:0.7em; vertical-align:middle;') &nbsp;LOG IN
          // End For Mobile
        // /.navbar-collapse
      // /.container-fluid
