extends layout

block content
    script(src='javascripts/bootstrap-datepicker.js')
    section#team
      .container
        .row
          .col-lg-12.text-center
            h2.section-subheading(style='color:#184257;')
              | Hello !!
            h5
              br
              | Post an Internship in a minute.
        .row.text-center
          form.form-horizontal(enctype='application/x-www-form-urlencoded', action='/forms/post/event', style='padding-top:20px;', method='post')
            input(type='hidden', name='type', required='', value='intern')
            .form-group
              label.col-sm-4.control-label Title of Internship*
              .col-sm-6
                input.form-control(type='text', name='name', placeholder='For ex. Research, Operations, Public Outreach, Content Writing etc.  ', required='required')
            .form-group
              label.col-sm-4.control-label Type of Internship
              .col-sm-6
                select.selectpicker.show-menu-arrow.form-control(required='required', name='types')
                  option(value=' regular') Regular
                  option(value=' virtual') Work from Home 
            .form-group
              label.col-sm-4.control-label Internship Description *
              .col-sm-6(style='text-align: left;')
                textarea.form-control(name='description', rows='10', cols='100', placeholder='Describe internship details here')
            .form-group
              label.col-sm-4.control-label Location of work *
              .col-sm-6
                #locationField
                  input#autocomplete.form-control(placeholder='Enter address of work', onfocus='geolocate()', required='', name='location', type='text')
            .form-group
              label.col-sm-4.control-label Duration of Internship *
              .col-sm-6
                input.form-control(type='text', name='duration', placeholder='Enter duration like two months or three months etc.', required='')
            .form-group
              label.col-sm-4.control-label Stipend *
              .col-sm-6
                input.form-control(type='text', name='stipend', placeholder='For ex. 5,000/month, Expenses reimbursed or none', required='')
            .form-group
              label.col-sm-4.control-label Posting for  *
              .col-sm-6
                select.selectpicker.show-menu-arrow.form-control(required='required', name='groupid')
                  each x in group
                    option(value='#{x.id},#{x.banner}') #{x.name} 
            .form-group
              label.col-sm-4.control-label Start date of Internship *
              .col-sm-3.input-group.date(style='padding-left:15px;')
                input.form-control(type='text', required='required', name='date')
                span.input-group-addon(style='border-radius:0px;')
                  i.glyphicon.glyphicon-calendar
              script.
                $('.input-group.date').datepicker({
                startDate: "today",
                format: "dd M yyyy"
                });
            .form-group
              label.col-sm-4.control-label End date of Internship *
              .col-sm-3.input-group.date(style='padding-left:15px;')
                input.form-control(type='text', required='required', name='enddate')
                span.input-group-addon(style='border-radius:0px;')
                  i.glyphicon.glyphicon-calendar
              script.
                $('.input-group.date').datepicker({
                startDate: "today",
                format: "dd M yyyy"
                });
            .form-group
              label.col-sm-4.control-label Last Date of Application *
              .col-sm-3.input-group.date(style='padding-left:15px;')
                input.form-control(type='text', required='required', name='lastdate')
                span.input-group-addon(style='border-radius:0px;')
                  i.glyphicon.glyphicon-calendar
              script.
                $('.input-group.date').datepicker({
                startDate: "today",
                format: "dd M yyyy"
                });
            .form-group
              label.col-sm-4.control-label Number of Interns required *
              .col-sm-6
                input.form-control(type='number', name='number', placeholder='Number of Interns Required', required='')
            .form-group
              label.col-sm-4.control-label Who Should Apply? 
              .col-sm-6
                input.form-control(type='text', name='qualification', placeholder='Qualification of applicants if any')
            
            .text-left.form-group
              label.col-sm-4.control-label
              .col-sm-6.checkbox
                label.control-label(style="padding-left:0px")
                  input(type='checkbox', name='certificate', value='yes', style='margin-left:0px;')
                  |       Check if certificate will be provided
            .col-sm-9
              button.btn.btn-primary(type='submit') Submit
        .row.text-center
          br
          h5(style='text-transform:none; color:#a3a118;')
            | Having any problem ?  Write to us helpiezteam@gmail.com or Call us on +91
