extends layout

block content
  link(rel='stylesheet', href='https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css')
  script(src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js")
  script(src='javascripts/bootstrap-datepicker.js')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js')
  script(src='./javascripts/moment.js') 
  script(src="https://cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.5/angular-moment.min.js")
  script(src='./javascripts/manage.js')
  body#page-top.index(ng-app='manage')
    .container(ng-controller = "eventController", ng-init="init(#{eventid}, #{sess.userid})", style='margin-top:90px;')
      .row
        .col-lg-12.text-center
          h3.section-heading 
            a(href='./{{event.events.url}}.{{event.events.type}}', style='color: black;text-decoration: none;') {{event.events.name}}
          h5.section-subheading(style='margin-bottom: 15px;text-transform: none;text-decoration: none;')
            a(href='./{{event.group.url}}.{{event.group.type}}') {{event.group.name}}
          h6.section-subheading.text-muted(style='margin-bottom: 20px;', am-time-ago="event.events.timestamp" )
      .row
        .col-lg-8.col-lg-offset-2.text-center(ng-if="event.events.status==2")
          .alert.alert-success.alert-dismissible(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            | Your post is currently live. You can view it 
            a(href='./{{event.events.url}}.{{event.events.type}}', target='blank') here
        .col-lg-8.col-lg-offset-2.text-center(ng-if="event.events.status==1")
          .alert.alert-danger.alert-dismissible(role='alert')
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
            | Your post is currently a Draft.  You can make it live by clicking 
            a(data-toggle="modal" data-target="#editEvent") here            
      .row
        .col-lg-10.col-lg-offset-1.text-justify
          .panel-body
            p.text-center
              a.btn.btn-primary.btn-sm(data-toggle="modal" data-target="#editEvent" style=' text-transform: none; background-color: rgb(9, 91, 179);  border-radius: 4px 4px;  border-color: rgb(9, 91, 179);margin-left:10px;margin-top: 20px;') Edit Post &nbsp;
                    i.fa.fa-pencil(style='color:#fff;')
            p.large.text-muted
            p
              | Helpiez.org is a IIT-Delhi student based startup with an aim to revolutionize the social service in India. Helpiez allows people to connect with Causes they care about and engage in volunteering opportunities, events and Internships. We are looking for summer interns to design and coordinate India wide campaigns . Every student who wants to gain crucial experience of working in startup should apply.
            p
            .col-md-1
              i.fa.fa-map-marker.fa-3x(style='color:#0C94A1;')
            .col-md-4
              p.large.text-muted
                | Work from Home 
                br
            .col-md-1.col-md-offset-1
              i.fa.fa-calendar.fa-3x(style='color:#10AB3B;')
            .col-md-4
              p.large.text-muted
                strong Duration-
                |  Three Month
                br
                strong Start Date-
                |  20-01-2016
            br
            
       #editEvent.modal.fade(style='display: none;', aria-hidden='true')
        .modal-dialog.modal-md
          .modal-content(style='border-radius:0px;')
            .modal-body
              button.close(type='button', data-dismiss='modal', aria-label='Close')
                span(aria-hidden='true') &times;          
              h4.modal-title(style='color:#CD222D; text-align:center; text-transform: none;') Edit Internship post
              br              
            
              form.form-horizontal(action='/forms/write', style='padding-top:20px;', method='post')
                .form-group
                  label.col-sm-3.control-label Title :
                  .col-sm-9
                    input.form-control(type='text', name='name',ng-model='event.events.name', placeholder='For ex. Research, Operations, Public Outreach etc.  ', required='required')
                .form-group
                  label.col-sm-3.control-label Type :
                  .col-sm-9
                    select.selectpicker.show-menu-arrow.form-control(required='required', name='types')
                      option(value=' regular') Regular
                      option(value=' virtual') Work from Home 
                .form-group
                  label.col-sm-3.control-label Description :
                  .col-sm-9(style='text-align: left;')
                    textarea.form-control(name='description', rows='10', cols='40',ng-model='event.events.description', placeholder='Describe internship details here')
                .form-group
                  label.col-sm-3.control-label Location :
                  .col-sm-9
                    #locationField
                      input#autocomplete.form-control(placeholder='Enter address of work' ,ng-model='event.events.location', onfocus='geolocate()', required='', name='location', type='text')
                .form-group
                  label.col-sm-3.control-label Duration :
                  .col-sm-9
                    input.form-control(type='text', name='duration' ,ng-model='event.events.duration', placeholder='Enter duration like two months or three months etc.', required='')
                .form-group
                  label.col-sm-3.control-label Stipend :
                  .col-sm-9
                    input.form-control(type='text', name='stipend' ,ng-model='event.events.salary', placeholder='For ex. 5,000/month, Expenses reimbursed or none', required='')
                .form-group
                  label.col-sm-3.control-label Start date : 
                  .col-sm-9(style='padding-left:15px;')
                    input.form-control(type='date' ,min="2016-06-02" , required='required', name='date',  ng-model='event.startdate' )
                    
                .form-group
                  label.col-sm-3.control-label End date :
                  .col-sm-9.input-group.date(style='padding-left:15px;')
                    input.form-control(type='date',min="2016-06-02" required='required', name='enddate', ng-model='event.enddate')             
                .form-group
                  label.col-sm-3.control-label Apply before:
                  .col-sm-9.input-group.date(style='padding-left:15px;')
                    input.form-control(type='date',min="2016-06-02" required='required', name='lastdate' ng-model='event.lastdate')                   
                .form-group
                  label.col-sm-3.control-label Required :
                  .col-sm-9
                    input.form-control(min='1' type='number', name='number', placeholder='Number of Interns Required', ng-model='event.required', required='')
                .form-group
                  label.col-sm-3.control-label Qualification 
                  .col-sm-9
                    input.form-control(type='text', name='qualification', placeholder='Qualification of applicants if any', ng-model='event.events.qualification')
             
                .text-left
                  label.col-sm-3.control-label
                  .col-sm-9.checkbox
                    label.control-label(style="padding-left:0px")
                      input(type='checkbox', name='certificate', value='yes', style='margin-left:0px;'  ng-model="event.certificate" ng-checked="event.certificate"  )
                      |       Check if Certificate will be provided  
                
                .text-left
                  label.col-sm-3.control-label
                  .col-sm-9.checkbox
                    label.control-label(style="padding-left:0px")
                      input(type='checkbox', style='margin-left:0px;'  ng-model="event.commentstatus" ng-checked="event.commentstatus"  )
                      |       Allow comments 
                
                .text-left
                  label.col-sm-3.control-label
                  .col-sm-9.checkbox
                    label.control-label(style="padding-left:0px")
                      input(type='checkbox', style='margin-left:0px;'  ng-model="event.status" ng-checked="event.status"  )
                      |       Make Live / Allow Application   
                
                
               
                .form-group
                  .text-center
                    button.btn.btn-primary(type='submit') Done
        
             
     