span
  table.table.table-striped(style="color:#777")
    thead
        tr(style="font-size: smaller; ")
          th Posting Date       
          th Title 
          th Type   
          th Status
          th Posted by
          th Apps 
          th Deadline
      tbody
        tr       
          td 13 Mar 13 
          td 
            a(href='/ned.intern' target="blank" style="text-decoration:none") Ned Internship  
          td Internship   
          td
            span.label.label-success active 
          td Gaurav Jain
          td 23 
          td 13 Oct 16